@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;

    --gradient2: linear-gradient(89.97deg, #EB1484 1.84%, #c81cc5 102.67%);
    --primary-btn: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);

    --primary-color: #EB1484;
    --secondary-color: #c81cc5;

    --color-bg: #24252d;
    --color-card : #2A2D3A;
    --color-footer : #24252D;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
}


body{
    background: var(--color-bg)!important;
    scroll-behavior: smooth;
}
a{
    text-decoration: none!important;
    color: inherit;
}

.gradient__bg{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);


}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin: 4rem 6rem;
}
.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

button{
    cursor: pointer;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@media screen and (max-width: 700px){
    .section__padding{
        padding:4rem 6rem;
    }
    .section__margin{
        margin:4rem;
    }
}
@media screen and (max-width: 550px){
    .section__padding{
        padding: 4rem 2rem !important;
    }
    .section__margin{
        margin:4rem 2rem;
    }
}

/*Page Create NFT*/

.create{
    display: flex;
    font-family: var(--font-family);
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.create-container h1{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 40px;
}
.create-container .upload-file {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 20px;
}
.upload-img-show{
    background: #2D2E36;
    /* White */
    padding: 30px 40px;
    border: 1px dashed #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.upload-img-show h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.upload-img-show img{
    margin-bottom: 20px;
}
.upload-img-show p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.upload-img-show span{
    font-weight: normal;
}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.formGroup label{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}
.formGroup input{
    background: #2D2E36;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}

.formGroup textarea{
    background: #2D2E36;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
}
.formGroup select{
    background: #2D2E36;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-overflow: ellipsis;
}
.writeForm button{
    float: right;
    background: var(--primary-btn);
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.twoForm{
    display: flex;
    justify-content: space-between;
}
.twoForm input {
    width: 100%;
    margin-right: 15px;
}
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select file';
    color: black;
    width: auto;
    display: inline-flex;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
@media screen and (max-width: 550px){
    .create{
        padding:2rem 1.5rem !important;

    }
    .create-container h1{
        display: none;
        margin-bottom: 20px;
    }
}


.writeButton:hover {
    background: var(--primary-btn)!important;
}

/* End Page Create NFT */

/* Item NFT*/
.item{
    display: flex;
    padding: 0 6rem;
    font-family: var(--font-family);
}
.item-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(165, 165, 165, 0.1);

}
.item-image img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    padding: 50px;
}
.item-content{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem;
    position: relative;
}

.item-content-title h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}
.item-content-title p{
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.item-content-title span{
    font-weight: 600;
}
.item-content-creator{
    margin-top: 30px;
}
.item-content-creator p{
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.item-content-creator div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.item-content-creator div:last-child p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.item-content-creator img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.item-content-detail{
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(165, 165, 165, 0.1);
    padding-top: 20px;
}
.item-content-detail p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 500px;
}
.item-content-buy .primary-btn{
    background: var(--primary-btn);
    border-radius: 10px;
    border: none;
    padding: 0.75rem 3rem;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #fff;
    margin-right: 20px;
}
.item-content-buy .secondary-btn{
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    padding: 0.70rem 3rem;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: var(--primary-color);
}
.item-content-action{
    display: flex;
    position: absolute;
    right: 0;
}
.item-content-action p{
    cursor: pointer;
    font-size: 18px;
    color: white;
    background: var(--primary-btn);
    margin-inline: 10px;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}
@media screen and (max-width: 1050px) {
    .item{
        flex-direction: column;
    }
    .item-content{
        margin: 0 0 3rem;
    }
    .item-image{
        border-right: unset;
    }
    .item-content-detail p{
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .item-content h1{
        font-size: 28px;
        line-height: 42px;
    }
    .item-content p{
        font-size: 16px;
        line-height: 24px;
    }
    .item-content__people{
        flex-direction: column;
    }
    .item-content__people p{
        margin: 0;
    }
    .item-content__input input,
    .item-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
    .item-content-buy .primary-btn{
        padding: 0.75rem 20px;

    }
    .item-content-buy .secondary-btn{
        padding: 0.75rem 33px;
    }
}
@media screen and (max-width: 490px){
    .item-content h1{
        font-size: 28px;
        line-height: 42px;
    }
    .item-content p{
        font-size: 14px;
        line-height: 26px;
    }
    .item-content__input input,
    .item-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
    .item{
        padding-inline:1rem !important ;
        padding-top: 1rem !important;
    }
    .item-image img{
        padding: 0;
        border-radius: 20px;
        margin-bottom: 25px;
    }
    .item-content-buy .primary-btn{
        margin-right: 10px;

    }
    .item-content-action{
        top: 15%;
    }
    .item-content-action p{
        margin-inline: 5px;

    }

}
